<div class="contents row">
  <p><%= @nickname %>さんの投稿一覧</p>
  <% @tweets.each do |tweet| %>
    <%= render partial: "tweets/tweet", locals: { tweet: tweet } %>　<!--</div>   部分テンプレート「_tweet.html.erb」の呼び出し-->
  <% end %>
  <%= paginate(@tweets) %>
</div>